a{text-decoration:none;}

/******* En tête du fichier et déclaration des constantes *******/
.txt-dr{text-align:right;}/* Alignement du texte vers la droite */
.txt-gc{text-align:left;}/* Alignement du texte vers la gauche */
.txt-centre{text-align:center;}/* Alignement du texte vers le centre */
.float-dr{float:right;}/* Alignement flotant vers la droite */
.float-gc{float:left;}/* Alignement flotant vers la gauche */
.clear{clear:both;}/* Réinitialiser float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolue{position:absolute;}/* Position Absolue */
.vertical-bas{	vertical-align:baseline;}/* Alignement vertical vers le bas */
.vertical-Haut{	vertical-align:top;}/* Alignement vertical vers le haut */
nav.vertical MENU ONGLET{	display:block;}/* Menu vertical */
nav.horizontal MENU ONGLET{	display: inline-block;}/* Menu horizontal */
img{max-width:100%;}


/******* Affichage de la page *******/
html, body{
    font-size: 100%;
	background: url(../ressource/eau.jpg) no-repeat 0px 0px;
    background-size: cover;
	-webkit-background-size: cover;
	-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	font-family: ‘Courier’, monospace;
}
T1, T2, T3, T4 a{
	margin:0;
}
MENU,ONGLET {
	margin:0;
	padding:0;
}
body a:hover, body a{
	text-decoration:none;
}


/******* Portion principale du CSS *******/
/******* Notice *******/
.notice a{
	font-size: 1em;
    	color:#fff;
    	margin:14em 0 0;
    	line-height: 2em;
    	text-align: center;
}
.notice a{
	color:#EA3C78;
}
.notice a:hover{
	text-decoration:underline;
}

/******* Map *******/
.carte b{
	font-size: 1em;
    	margin:14em 0 0;
    	line-height: 2em;
    	text-align: center;
}

/******* Page *******/
.page{
	text-align:center;
}

/******* Menu de navigation *******/
.navigation_menu MENU ONGLET{
	display:inline-block;
	margin:5px 5px;
}
.navigation_menu MENU ONGLET a{
	font-size:1em;
	color:#fff;
	padding:10px 20px;
	text-decoration:none;
}
.navigation_menu MENU ONGLET.active a{
	background:#fff;
	color:#202020;
}

/******* Animation des onglets *******/
/* Animation des onglets */
.animation_onglet {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.animation_onglet:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:#6699cc;/*6699cc ou 61DDF0*/
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.animation_onglet:hover, .animation_onglet:focus, .animation_onglet:active {
  color: white;
}
.animation_onglet:hover:before, .animation_onglet:focus:before, .animation_onglet:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/******* Texte de page *******/
.page T1{
	font-size: 10em;
    color: #fff;
	margin:0.4em 0 0;
    line-height: 1.5;
}
.page T2{
	font-size: 1em;
    color: #fff;
    text-transform: capitalize;
}
.page T3{
	font-size: 3em;
    	color: #6699cc;
	text-transform: bold;
    	text-transform: capitalize;
}
.page T4{
	font-size: 1em;
    color: #fff;
}

.page T5{
	font-size: 2em;
    	color: #6699cc;
	text-transform: bold;
}

.paragraphe {
	margin:1em 10em 2em;
	text-align: justify;
}

.questionnaire{
	text-align: center;
}


/******* Bouton *******/
.bouton_page {
    margin:3em 0 5em;
}
.bouton_page a{
	padding: 10px 65px;
    background:#6699cc;
    text-decoration: none;
    color: #202020;
    font-size: 2em;
    text-transform: uppercase;
	transition:.3s ease-in;
	-webkit-transition:.3s ease-in;
	-transition:.3s ease-in;
	-o-transition:.3s ease-in;
	-ms-transition:.3s ease-in;
}
.bouton_page a:hover{
	background:#fff;
	color:#202020;
}

/*************** Info-Box ********************/

.info-box {
	background-color: grey;
	border: 1px solid black;
	bottom: 30px;
	height: 20px;
	padding: 10px;
	position: absolute;
	left: 30px; 
}

.info-box header {
	font-size: 3em;
    	color: #6699cc;
	text-transform: bold;
    	text-transform: capitalize;
}

.info-box content {
    font-size: 1em;
    color: #fff;
}



/************** Réseaux sociaux **************/

.reseaux_sociaux{
	position:relative;
}
.reseaux_sociaux div{
  display: inline-block;
  position:absolute;
  top:50%;
  left:50%;
  -ms-transform:translate(-40%,-40%);
  -webkit-transform:translate(-40%,-40%);
  transform:translate(-40%,-40%);
  -transform:translate(-40%,-40%);
  -o-transform:translate(-40%,-40%);
}

/* Icones */

.reseaux_sociaux a {
	color: #fff;
    background: #FFFFFF;
    text-align: center;
    text-decoration: none;
    position: relative;
    display: inline-block;
    width:40px;
	height:40px;
    margin: 0 5px;
    -o-transition: all .4s;
    -webkit-transition: all .4s;
    -transition: all .4s;
    transition: all .4s;
    -webkit-font-smoothing: antialiased;
}
.reseaux_sociaux a:nth-of-type(1):hover{
	background:#3b5998;
}
.reseaux_sociaux a:nth-of-type(2):hover{
	background:#55acee;
}

/* Texte réseaux sauciaux */

.reseaux_sociaux a span {
	color:#212121;
	position:absolute;
	bottom:0;
	left:-25px;
	right:-25px;
	padding:5px 7px;
	z-index:-1;
	font-size:14px;
	background:#fff;
	visibility:hidden;
	opacity:0;
	-o-transition:all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all .4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Flèche pop up */

.reseaux_sociaux a span:before {
	content:'';
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
	position:absolute;
	bottom:-4px;
	left:40px;
}

/* Texte pop up pour les passage de la souris */

.reseaux_sociaux a:hover span {
	bottom:50px;
	visibility:visible;
	opacity:1;
}

.reseaux_sociaux a:before {
	transition:.4s ease-in;
	-webkit-transition:.4s ease-in;
	-transition:.4s ease-in;
	-o-transition:.4s ease-in;
	-ms-transition:.4s ease-in;
}
.reseaux_sociaux a:nth-of-type(1):before {
	content:'';
	background:url(../ressource/img-reseaux.png) no-repeat 13px 11px;
	display:block;
	width:40px;
	height:40px;
}
.reseaux_sociaux a:nth-of-type(1):hover:before {
	background-position:13px -25px;
}
.reseaux_sociaux a:nth-of-type(2):before {
	content:'';
	background:url(../ressource/img-reseaux.png) no-repeat -18px 11px;
	display:block;
	width:40px;
	height:40px;
}
.reseaux_sociaux a:nth-of-type(2):hover:before {
	background-position:-18px -28px;
}

/************** Autres formats de pages **************/

@media (max-width:1366px){
	.notice p {
		margin: 15em 0 0;
	}
}
@media (max-width:1280px){
	body {
		padding-bottom: 6em;
	}
}
@media (max-width:1080px){
	.main T1 {
		font-size: 12em;
	}
}
@media (max-width:800px){
	.main T1 {
		font-size: 9em;
	}
	.main T2 {
		font-size: 14px;
	}
	.bouton_page a {
		padding: 8px 45px;
		font-size: 14px;
	}
	body {
		padding-bottom: 10em;
	}
}
@media (max-width:768px){
	body {
		padding-bottom:18.77em;
	}
	.main T1 {
		margin: 0.5em 0 0;
	}
}
@media (max-width:736px){
	.reseaux_sociaux div {
		left: 46.5%;
	}
	.notice p {
		margin: 10em 0 0;
	}
	body {
		padding-bottom: 5em;
	}
}
@media (max-width:667px){
	.main T1 {
		margin: 0.3em 0 0;
	}
}
@media (max-width:640px){
	.main T1 {
		font-size: 7em;
	}
	.navigation_menu MENU ONGLET a {
		font-size: 14px;
	}
	.notice p {
		margin: 12em 0 0;
		font-size: 14px;
	}
	.main T1 {
		margin: 0.5em 0 0;
	}
	.notice p {
		margin: 14em 0 0;
	}
	body {
		padding-bottom: 13em;
	}
}
@media (max-width: 600px){
	.notice p {
		margin: 12em 0 0;
	}
	body {
		padding-bottom: 4em;
	}
	.navigation_menu {
		padding: 2em 0 0;
	}
	.navigation_menu MENU ONGLET {
		margin: 0;
	}
}
@media (max-width:480px){
	.navigation_menu MENU ONGLET a {
		padding: 8px 15px;
	}
	.reseaux_sociaux div {
		left: 44.5%;
		width: 56%;
	}
	.main T1 {
		font-size: 6em;
	}
	.bouton_page {
		margin: 2em 0 4em;
	}
	.bouton_page a {
		padding: 8px 30px;
	}
	.reseaux_sociaux a {
		margin: 0 2px;
	}
	body {
		padding-bottom: 19em;
	}
	.reseaux_sociaux a:hover span {
		bottom: 46px;
	}
	.reseaux_sociaux a span {
		padding: 5px 5px;
		font-size: 13px;
	}
	.notice p {
		padding: 0 1em;
	}
}
@media (max-width: 414px){
	.navigation_menu MENU ONGLET a {
		padding: 6px 10px;
		font-size: 13px;
	}
	.bouton_page {
		margin: 2em 0 4em;
	}
	.reseaux_sociaux div {
		width: 60%;
	}
	body {
		padding-bottom: 11.05em;
	}
}
@media (max-width:384px){
	.main T1 {
		font-size: 5em;
	}
	.main T2,.notice p {
		font-size: 13px;
	}
	.bouton_page a {
		font-size: 13px;
		padding: 7px 25px;
	}
	.reseaux_sociaux div {
		width: 64%;
	}
	.bouton_page {
		margin: 1.5em 0 4em;
	}
	body {
		padding-bottom: 10em;
	}
}
@media (max-width: 375px){
	.reseaux_sociaux div {
		width: 66%;
	}
}
@media (max-width:320px){
	.navigation_menu MENU ONGLET a {
		padding: 4px 5px;
		font-size: 12px;
	}
	.main T2, .notice p,.bouton_page a,.reseaux_sociaux a span {
		font-size: 12px;
	}
	.reseaux_sociaux div {
		width: 78%;
	}
	.notice p {
		margin: 14em 0 0;
	}
	body {
		padding-bottom: 3.55em;
	}
}



